# Node modules
node_modules/
dist/
.env

# Database
backend/prisma/*.db
backend/prisma/*.db-journal

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Build files
frontend/dist/
backend/dist/
